body {
    background-color: black;
    color: white;
/*  */
    padding-left: 10cm;
    padding-right: 10cm;
    font-size: 0.5cm;
} 

h3 {
    font-size: 30px;
}

.okno {
 width: auto;
  border: 15px solid green;
  padding: 15px;
 margin-left: 10px;
  margin-right: 10px;
}

body img {
   max-width: 100%; 
   height: auto;
}

